@using SEDC.PizzaApp.Models.Domain
@using SEDC.PizzaApp.Models.ViewModels
@*@model Pizza

<h2>Details for @Model.Name</h2>
<p>Price: @Model.Price</p>*@

@model PizzaViewModel

<p>@Model.Id. @Model.Name - Price: @Model.Price</p>