@using SEDC.PizzaApp.Models.ViewModels
@model PizzaViewModel

<ul>
    <li>@Model.Name</li>
    <li>@Model.Id</li>
    <li>@Model.PizzaSize</li>
    <li>@Model.Price</li>
    <li>@Model.HasExtras</li>    
</ul>